langchain==0.2.11
langchain-community==0.2.10
langchain-core==0.2.24
langchain-openai==0.1.19
streamlit==1.37.0
streamlit-chat==0.1.1
unstructured.pytesseract==0.3.12
pillow==10.4.0
pydot
matplotlib
Chromadb
pytesseract
Pillow 
PyPDF2
PyMuPDF

