beyondllm
streamlit
streamlit-chat
llama-index-embeddings-huggingface   
llama-index-embeddings-azure_openai   
llama_index.vector_stores.chroma
pydot
matplotlib
chromadb
pytesseract==0.3.8
Pillow==8.3.1
tesseract-ocr==4.1.1
PyPDF2
PyMuPDF
Pillow
